<div class="form-container">
    <h2>{{ isEditMode ? 'Modifier' : 'Ajouter' }} un Client</h2>
    
    <form (ngSubmit)="saveCustomer()">
      <label>Prénom:</label>
      <input type="text" [(ngModel)]="customer.firstname" name="firstname" required>
  
      <label>Nom:</label>
      <input type="text" [(ngModel)]="customer.lastname" name="lastname" required>
  
      <label>Email:</label>
      <input type="email" [(ngModel)]="customer.email" name="email" required>
  
      <label>Adresse:</label>
      <input type="text" [(ngModel)]="customer.address.street" name="street" placeholder="Rue">
      <input type="text" [(ngModel)]="customer.address.zipCode" name="zipCode" placeholder="Code Postal">
  
      <button type="submit">{{ isEditMode ? 'Mettre à Jour' : 'Ajouter' }}</button>
      <button type="button" (click)="cancel()">Annuler</button>
    </form>
  </div>
  