<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body">
    <h2 class="text-center">Forgot Your Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
        <input
          id="email"
          type="email"
          class="form-control mb-3"
          formControlName="email"
          placeholder="Enter your email"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="text-danger">
          <small *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</small>
          <small *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Invalid email</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
  